# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Специальное задание.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\c1aym\RiderProjects\Специальное задание\.idea\.idea.Специальное задание\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
