# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Урок 4 Задание 3.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\c1aym\RiderProjects\Урок 4 Задание 3\.idea\.idea.Урок 4 Задание 3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
