# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Урок 5 Задание 2.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\c1aym\RiderProjects\Урок 5 Задание 2\.idea\.idea.Урок 5 Задание 2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
