# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Задание 4.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Учеба GeekBrains\Основы c#\Домашка\Занятие 2\Задание 4\.idea\.idea.Задание 4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
