# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Число Фибоначчи.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\c1aym\RiderProjects\Число Фибоначчи\.idea\.idea.Число Фибоначчи\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
