# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Урок 5 Задание 1.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\c1aym\RiderProjects\Урок 5 Задание 1\.idea\.idea.Урок 5 Задание 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
