# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Задание 1.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Учеба GeekBrains\Основы c#\Домашка\Занятие 2\Задание 1\.idea\.idea.Задание 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
